<div><%= image_tag outfit.image.url, {class: "outfit-show"}%></div>

<br>
<% if !outfit.tags.nil? %>
  Tags: <% outfit.tags.each do |tag| %>
    <%= link_to tag, tag %>
    <% end %>
<% end %>
<br>
<br>
