<h1>tagged #<%= params[:hashtag] %></h1>
<% if @hashtagged %>
  <% @hashtagged.each do |hashtagged| %>
    <%= render partial: "outfits/outfit", locals: {outfit: hashtagged} %>
  <% end %>
<% else %>
  <p>There is no match for #<em><%= params[:hashtag] %></em> tag</p>
<% end %>
