<% if flash[:error] %>
  <font color = 'red'> <%= flash[:error] %> </font>
<% end %>

<center><font color='pink'><h1>OUTFITS ON THE GO!!</h1></font>


<em><h2>Start planning your outfits - birthdays, wedding, night-out, vacation in the Bahamas, you name it!</h2>

  <h2>Save time. Save headache</h2></em>
</center>
