<br>
<br>
<br>
<% if !boards.empty? %>
    <div>
      <h5> Currently you have <%=pluralize(boards.size, 'board')%> | <%= link_to "Create a Board", new_user_board_path(@user.boards) %></h5>

    </div>
    <br>
    <br>
    <% boards.each do |board| %>
      <p><%= link_to board.name, board %></p>
    <% end %>
  <% else %>
    <div>
      <h5> Currently you don't have any board | <%= link_to "Create a Board", new_user_board_path(@user.boards) %></h5>
    </div>
<%end %>
<br>
<br>
